body {
  font-family: Arial, sans-serif;
}

ul {
  list-style-type: none;
}

li {
  display: inline;
}

.center {
  margin: auto;
  max-width: 50%;
}

#navbar ul li{
  float: right;
  margin-left: 8px;
}

button {
  padding: 10px 5px 10px 5px;
  border-radius: 5px;
}

#bottom {
  background: #f2f2f2f2;
}
